.navbar {
    position: sticky;
    /* background-color: #111; */
    background-color: var(--bg);
    top: 0;
    z-index: 100;
    width: 100%;
    /* border-bottom: 1px solid #eee;
    box-shadow: 1px 1px 10px #ddd; */
}

.navbar nav {
    display: flex;
    justify-content: flex-end;
    flex: 1; /* allows it to take remaining space after the h1 */
}

.navLinks {
    list-style: none;
    display: flex;
    flex-direction: row;
    color: var(--text);
    justify-content: space-between;
    gap: 2rem;
}

.navLinks a {
    color: var(--text);
    text-decoration: none;
    padding: 1rem;
    border-radius: 0.4rem;
}

.navLinks a:hover {
    background-color: #3662e322;
    color: var(--brand);
}

.hamburger {
    color: var(--text);
    border: 1.5px solid var(--text);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: var(--bordRad);
    background-color: transparent;
}

.hamburger i {
    font-size: 1.3rem;
}

.toggle {
    font-size: 1.1rem;
    color: var(--text);
    text-decoration: none;
    padding: 1rem;
    border-radius: 0.4rem;
}

.toggle:hover {
    background-color: #3662e322;
    color: var(--brand);
    cursor: pointer;
}

.buttonClass {
    font-family: "Poppins", monospace;
    background-color: transparent;
    border: 1px #2e3a59 solid;
    cursor: pointer;
    color: #2e3a59;
    border-radius: 1.2rem;
}

.buttonPrimary {
    background-color: var(--brand);
    color: #ffffff;
    border: 1px solid transparent;
    font-weight: 400;
}

.buttonPrimary:hover {
    background-color: var(--brand-hl2);
}

/* .buttonPrimary {
    position: relative;
    transition: transform 0.1s ease-in-out;
    position: relative;
    z-index: 0;
    overflow: hidden;
} */

/* .buttonPrimary::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #2e3a59;
    transition: width 0.45s ease;
    z-index: -1;
} */

/* .buttonPrimary:hover::after {
    width: 100%;
    z-index: -1;
}

.buttonPrimary:hover {
    color: var(--bg);
} */

.scaler {
    transform: scale(1.10;);
}

.clicked {
    transform: scale(0.95);
    transition: transform 0.04s ease-in;
}

.rebound {
    transform: scale(1.01);
    transition: transform 0.08s cubic-bezier(0.3, 1.5, 0.7, 1);
}

.relax {
    transform: scale(1);
    transition: transform 0.5s cubic-bezier(0.4, 0.8, 0.6, 1);
}

.buttonSecondary {
    position: relative;
    transition: transform 0.1s ease-in-out;
    position: relative;
    z-index: 0;
    overflow: hidden;
    color: var(--text);
    border: 1.2px var(--button-border) solid;
    transition: background-color 0.2s ease;
    font-weight: 400;
}

.buttonSecondary::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--disabled);
    transition: width 0.25s ease;
    z-index: -1;
}

.buttonSecondary:hover::after {
    width: 100%;
    z-index: -1;
}

.click2 {
    background-color: var(--disabled-dark);
}

/* .buttonSecondary {
    background-color: #b65d5d;
    color: var(--bg);
    border: 1px solid #b65d5d;
    transition: all 0.2s ease;
    z-index: 10;
    position: relative;
}

.buttonSecondary:hover {
    transform: translateY(-4px);
    box-shadow: 0px 5px 15px #b65d5d;
}

.buttonSecondary::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.25);
    transition: opacity 0.15s;
    pointer-events: none;
    border-radius: inherit;
}*/

.buttonDisabled {
    background-color: var(--disabled);
    color: var(--disabled-dark);
    border: 1.2px solid var(--disabled-dark);
    cursor: not-allowed;
    transition: transform ease 1s;
    font-weight: 400;
}

.buttonDisabled:hover {
    transform: scale(0.98);
}

.buttonDisabled.click3 {
    animation: nope 0.5s ease;
}

@keyframes nope {
    0% {
        transform: scale(0.98) translateX(0);
    }

    25% {
        transform: scale(0.98) translateX(2px);
    }

    50% {
        transform: scale(0.98) translateX(-2px);
    }

    75% {
        transform: scale(0.98) translateX(2px);
    }

    100% {
        transform: scale(0.98) translateX(0);
    }
}

.imageCard {
    background-color: var(--surface);
    display: flex;
    box-shadow: var(--dropShadow);
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-radius: 5px;
    border: 1.5px solid var(--divider);
}

.imageCard h3 {
    color: var(--secondary);
    font-weight: 800;
}

.imageCard p {
    color: var(--text-muted);
}

.imageCard > .imageCardContent {
    padding: 1.5rem;
}

.imageCard > .cardInteraction {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
}

.profileCard {
    background-color: var(--surface);
    display: flex;
    box-shadow: var(--dropShadow);
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    gap: 1rem;
    border-radius: 5px;
    border: 1.5px solid var(--divider);
}

.profileCard h3 {
    color: var(--secondary);
    font-weight: 800;
}

.profileCard p {
    color: var(--text-muted);
}

.cardInteraction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardInteraction > .shareButton {
    width: 10%;
}

.shareButton {
    border: none;
    color: #777;
}

.shareButton:hover {
    background-color: #eee;
}

.cardInteraction > .readMore {
    width: 85%;
}

.imageCard img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.profileHeader {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.nameAndTags {
    display: flex;
    flex-direction: column;
}

.nameAndTags ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.nameAndTags li {
    list-style: none;
    display: inline;
}

.socialLinks {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sampleHamburger > .hamburger {
    color: #222;
    border: 1px solid #222;
    display: block;
    box-shadow: var(--dropShadow);
}

.profileCard img {
    border-radius: 5px;
}

/* TODO round the corners and add drop shadow */
.sampleNav {
    background-color: #222;
    color: var(--surface);
    box-shadow: var(--dropShadow);
    width: 100%;
}

.sampleNav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}

/* .sampleNav li {
    display: inline;
} */

.sampleForm form {
    background-color: var(--surface);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: var(--dropShadow);
}

.nameInput,
.messageInput,
.selectInput {
    font-weight: bold;
}

.nameInput,
.messageInput,
.selectInput,
.radioInput {
    display: flex;
    flex-direction: column;
}

.radioInput {
    border: 1px solid #aaa;
    border-radius: 5px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    background-color: var(--surface);
}

.radioField {
    padding: 1rem 0.5rem;
    font-weight: normal;
    font-size: 0.85rem;
}

.radioField:not(:last-child) {
    border-bottom: 1px solid #aaa;
}

.inputClass {
    border-radius: 7px;
    background-color: transparent;
    padding: 1rem;
    width: 100%;
    border: 1px solid #aaa;
}

.checkboxInput {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checkboxInput label {
    font-size: 0.85rem;
    max-width: calc(100% - 2rem);
}

.checkboxField {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    overflow: hidden;
}

.slider:before {
    position: absolute;
    content: "";
    height: calc(100% - 8px);
    width: calc(50% - 4px);
    left: 4px;
    right: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.accordion {
    background-color: var(--surface);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.footerLinks i {
    text-decoration: none;
    color: var(--text);
}

.footerLinks i:hover {
    color: var(--brand);
}

@media (min-width: 400px) and (max-width: 744px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .navLinks {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .buttonClass {
        font-size: var(--font-small);
        padding: 0.75rem;
        border-radius: 0.3rem;
    }

    .imageCard,
    .profileCard {
        height: 100%;
        width: 100%;
    }

    .profileCard img {
        width: 8rem;
        height: 8rem;
    }

    .sampleNav {
        padding: 2rem 1rem;
    }

    .sampleForm form {
        margin-top: 1.5rem;
        padding: 1.5rem;
        gap: 1rem;
    }

    textarea {
        height: 10rem;
    }

    .checkboxInput {
        margin-bottom: 1rem;
    }

    .switch {
        width: 100%;
        height: 2.5rem;
    }
}

@media (min-width: 745px) and (max-width: 1133px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .navLinks {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .topButtons {
        width: 30%;
    }

    .buttonClass {
        font-size: var(--font-base);
        padding: 0.75rem;
        border-radius: 0.25rem;
    }

    .imageCard,
    .profileCard {
        flex: 1 1 47%;
        display: flex;
        flex-direction: column;
    }

    .profileCard {
        justify-content: space-between;
    }

    .profileCard img {
        width: 10rem;
        height: 10rem;
    }

    .sampleNav {
        padding: 2rem 1rem;
    }

    .sampleHamburger > .hamburger {
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sampleForm form {
        margin-top: 1.5rem;
        padding: 1.5rem;
        gap: 1rem;
    }

    textarea {
        height: 10rem;
    }

    .checkboxInput {
        margin-bottom: 1rem;
    }

    .switch {
        width: 100%;
        height: 2.5rem;
    }
}

@media (min-width: 1134px) {
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1.3rem 3rem;
    }

    .hamburger {
        display: none;
    }

    .topButtons {
        width: 30%;
    }

    .buttonClass {
        font-size: var(--font-base);
        padding: 0.75rem;
        border-radius: 0.25rem;
    }

    .imageCard,
    .profileCard {
        flex: 1 1 47%;
        display: flex;
        flex-direction: column;
    }

    .profileCard {
        justify-content: space-between;
    }

    .profileCard img {
        width: 10rem;
        height: 10rem;
    }

    .sampleNav {
        padding: 2rem 1rem;
    }

    .sampleHamburger > .hamburger {
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sampleForm form {
        margin-top: 1.5rem;
        padding: 1.5rem;
        gap: 1rem;
    }

    textarea {
        height: 10rem;
    }

    .checkboxInput {
        margin-bottom: 1rem;
    }

    .switch {
        width: 100%;
        height: 2.5rem;
    }
}
