.navbar {
    position: sticky;
    background-color: #111;
    top: 0;
    z-index: 10;
}

.hamburger {
    color: #eee;
    border: 1px solid #eee;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: var(--bordRad);
    background-color: transparent;
}

.hamburger i {
    font-size: 1.3rem;
}

.buttonClass {
    font-family: "IBM Plex Mono", monospace;
    background-color: transparent;
    border: 1px #222 solid;
    cursor: pointer;
}

.imageCard,
.profileCard {
    background-color: #eee;
    height: 100%;
    width: 100%;
    display: flex;
    box-shadow: var(--dropShadow);
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    gap: 1rem;
    border-radius: 5px;
}

.imageCard img {
    width: 100%;
}

.profileHeader {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.nameAndTags {
    display: flex;
    flex-direction: column;
}

.nameAndTags ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.nameAndTags li {
    list-style: none;
    display: inline;
}

.socialLinks {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sampleHamburger > .hamburger {
    color: #222;
    border: 1px solid #222;
    display: block;
    box-shadow: var(--dropShadow);
}

.sampleNav {
    background-color: #222;
    color: #eee;
    box-shadow: var(--dropShadow);
    width: 100%;
}

.sampleNav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}

/* .sampleNav li {
    display: inline;
} */

.sampleForm form {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: var(--dropShadow);
}

.nameInput,
.messageInput,
.selectInput {
    font-weight: bold;
}

.nameInput,
.messageInput,
.selectInput,
.radioInput {
    display: flex;
    flex-direction: column;
}

.radioInput {
    border: 1px solid #aaa;
    border-radius: 5px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
}

.radioField {
    padding: 1rem 0.5rem;
    font-weight: normal;
    font-size: 0.85rem;
}

.radioField:not(:last-child) {
    border-bottom: 1px solid #aaa;
}

.inputClass {
    border-radius: 7px;
    background-color: transparent;
    padding: 1rem;
    width: 100%;
    border: 1px solid #aaa;
}

.checkboxInput {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checkboxInput label {
    font-size: 0.85rem;
    max-width: calc(100% - 2rem);
}

.checkboxField {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

@media (min-width: 400px) and (max-width: 744px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .navLinks {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .buttonClass {
        font-size: var(--font-base);
        padding: 0.75rem;
        border-radius: 0.25rem;
    }

    .profileCard img {
        width: 8rem;
        height: 8rem;
    }

    .sampleNav {
        padding: 2rem 1rem;
    }

    .sampleForm form {
        margin-top: 1.5rem;
        padding: 1.5rem;
        gap: 1rem;
    }

    textarea {
        height: 10rem;
    }

    .checkboxInput {
        margin-bottom: 1rem;
    }
}
