.container {
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    padding-inline: var(--space-sm);
}

.flex {
    display: flex;
    gap: var(--space-sm);
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-sm);
}

header {
    position: relative;
    z-index: 1;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
}

#buttonsSection,
#navSection,
#interactiveSection {
    background-color: var(--bg);
}

#cardsSection,
#formSection {
    background: linear-gradient(315deg, var(--brand-highlight), var(--bg));
    border-top: 1px solid var(--divider);
    border-bottom: 1px solid var(--divider);
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
}

.snippetLink {
    display: flex;
    flex-direction: row;
    color: var(--text);
    gap: 0.5rem;
    align-items: center;
}

.navContainer {
    display: flex;
}

.tooltipContainer {
    padding: 1.5rem 0rem;
}

.tooltipList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.acccordionContainer {
    margin-top: 1.5rem;
}

footer {
    border-top: 1px solid var(--divider);
    background-color: var(--bg);
    color: var(--text);
    height: 100%;
}

.footerContent {
    display: flex;
    flex-direction: row;
    background-color: var(--bg);
    justify-content: space-between;
    align-items: flex-end;
}

.footerLinks {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.footerContent h2 {
    margin: 0;
    line-height: 1;
    font-size: 1.3rem;
}

@media (min-width: 400px) and (max-width: 744px) {
    /* TODO: condense all sections into single class */

    #buttonsSection {
        padding: var(--sm-section-padding);
        height: 100%;
    }

    .buttonContainer {
        padding-top: 1.8rem;
        flex-direction: column;
        gap: 1.5rem;
        height: 100%;
    }

    #cardsSection {
        padding: var(--sm-section-padding);
        height: 100%;
    }

    .cardsContainer {
        padding-top: 1.8rem;
        flex-direction: column;
        gap: 2.4rem;
    }

    #navSection {
        padding: var(--sm-section-padding);
        height: 100%;
    }

    .navContainer {
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
        padding-top: 1.8rem;
    }

    #formSection {
        padding: var(--sm-section-padding);
        height: 100%;
    }

    #interactiveSection {
        padding: var(--sm-section-padding);
        height: 100%;
    }

    #themeSwitcherSection {
        padding: var(--sm-subsection-padding);
        height: 100%;
    }

    .toggleContainer {
        margin-top: 1.8rem;
    }

    #miscSection {
        padding: var(--sm-subsection-padding);
        height: 100%;
    }

    #tooltipsSection {
        padding: 1rem 0rem 4rem 0rem;
        height: 100%;
    }

    #accordionsSection {
        padding: var(--sm-subsection-padding);
        height: 100%;
    }

    #modalsSection {
        padding: var(--sm-subsection-padding);
        height: 100%;
    }

    #loadersSection {
        padding: var(--sm-subsection-padding);
        height: 100%;
    }

    #breadcrumbsSection {
        padding: var(--sm-subsection-padding);
        height: 100%;
    }

    footer {
        /* padding-top: 2rem; */
        height: 50px;
    }

    .footerContent {
        padding: 1rem;
    }
}

@media (min-width: 745px) and (max-width: 1133px) {
    /* TODO: condense all sections into single class */

    #buttonsSection {
        padding: var(--sm-section-padding);
        height: 100%;
    }

    .buttonContainer {
        padding-top: 1.8rem;
        flex-direction: row;
        justify-content: space-between;
        gap: 1.5rem;
    }

    #cardsSection {
        padding: var(--sm-section-padding);
        height: 100%;
    }

    .cardsContainer {
        padding-top: 1.8rem;
        flex-direction: row;
        gap: 2.4rem;
        justify-content: space-between;
        align-items: stretch;
    }

    #navSection {
        padding: var(--sm-section-padding);
        height: 100%;
    }

    .navContainer {
        flex-direction: row;
        align-items: center;
        gap: 3rem;
        padding-top: 1.8rem;
    }

    #formSection {
        padding: var(--sm-section-padding);
        height: 100%;
    }

    #interactiveSection {
        padding: var(--sm-section-padding);
        height: 100%;
    }

    #themeSwitcherSection {
        padding: var(--sm-subsection-padding);
        height: 100%;
    }

    .toggleContainer {
        margin-top: 1.8rem;
    }

    #miscSection {
        padding: var(--sm-subsection-padding);
        height: 100%;
    }

    #tooltipsSection {
        padding: 1rem 0rem 4rem 0rem;
        height: 100%;
    }

    #accordionsSection {
        padding: var(--sm-subsection-padding);
        height: 100%;
    }

    #modalsSection {
        padding: var(--sm-subsection-padding);
        height: 100%;
    }

    #loadersSection {
        padding: var(--sm-subsection-padding);
        height: 100%;
    }

    #breadcrumbsSection {
        padding: var(--sm-subsection-padding);
        height: 100%;
    }

    footer {
        /* padding-top: 4rem; */
        height: 50px;
    }

    .footerContent {
        padding: 1rem;
    }
}

@media (min-width: 1134px) {
    /* TODO: condense all sections into single class */

    #buttonsSection {
        padding: var(--md-section-padding);
        height: 100%;
    }

    .buttonContainer {
        padding-top: 1.8rem;
        flex-direction: row;
        justify-content: space-between;
        gap: 1.5rem;
    }

    #cardsSection {
        padding: var(--md-section-padding);
        height: 100%;
    }

    .cardsContainer {
        padding-top: 1.8rem;
        flex-direction: row;
        gap: 2.4rem;
        justify-content: space-between;
        align-items: stretch;
    }

    #navSection {
        padding: var(--md-section-padding);
        height: 100%;
    }

    .navContainer {
        flex-direction: row;
        align-items: center;
        gap: 3rem;
        padding-top: 1.8rem;
    }

    #formSection {
        padding: var(--md-section-padding);
        height: 100%;
    }

    #interactiveSection {
        padding: var(--md-section-padding);
        height: 100%;
    }

    #themeSwitcherSection {
        padding: var(--md-subsection-padding);
        height: 100%;
    }

    .toggleContainer {
        margin-top: 1.8rem;
    }

    #miscSection {
        padding: var(--md-subsection-padding);
        height: 100%;
    }

    #tooltipsSection {
        padding: 1rem 0rem 4rem 0rem;
        height: 100%;
    }

    #accordionsSection {
        padding: var(--sm-subsection-padding);
        height: 100%;
    }

    #modalsSection {
        padding: var(--sm-subsection-padding);
        height: 100%;
    }

    #loadersSection {
        padding: var(--sm-subsection-padding);
        height: 100%;
    }

    #breadcrumbsSection {
        padding: var(--sm-subsection-padding);
        height: 100%;
    }

    footer {
        height: 50px;
        /* padding-top: 4rem; */
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .footerContent {
        padding: 1rem;
    }
}
