.container {
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    padding-inline: var(--space-sm);
}

.flex {
    display: flex;
    gap: var(--space-sm);
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-sm);
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
}

.cardsSection,
.formSection {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
}

.snippetLink {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.navContainer {
    display: flex;
}

@media (min-width: 400px) and (max-width: 744px) {
    .buttonsSection {
        padding: var(--section-padding);
        height: 100%;
        border: 1px solid red;
    }

    .buttonContainer {
        padding-top: 1.8rem;
        flex-direction: column;
        gap: 1.5rem;
    }

    .cardsSection {
        padding: var(--section-padding);
        height: 100%;
        border: 1px solid red;
    }

    .cardsContainer {
        padding-top: 1.8rem;
        flex-direction: column;
        gap: 2.4rem;
    }

    .navSection {
        padding: var(--section-padding);
        height: 100%;
        border: 1px solid red;
    }

    .navContainer {
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
        padding-top: 1.8rem;
    }

    .formSection {
        padding: var(--section-padding);
        height: 100%;
        border: 1px solid red;
    }
}
